## All the imports

In [14]:
import pandas as pd

## Some methods and classes to load the data

In [15]:
class Util():
    TRAIN_SESSION = "./data/train_session.csv"
    RANDOM_SUBMISSION = "./data/random_submission.csv"
    TEST_TRACKING = "./data/test_tracking.csv"
    TRAIN_TRACKING = "./data/train_tracking.csv"
    PRODUCT_CATEGORY = "./data/productid_category.csv"
    
def load_data(file_path):
    df = pd.read_csv(file_path)
    return df

In [16]:
print("LOADING TRAIN")
df_train = load_data(Util.TRAIN_SESSION)
print(df_train.head())
print(df_train.describe())

print("LOADING TRAIN")
df_train_tracking = load_data(Util.TRAIN_TRACKING)
print(df_train_tracking.head())
print(df_train_tracking.describe())

print("LOADING TEST")
df_test = load_data(Util.TEST_TRACKING)
print(df_test.head())
print(df_test.describe())

print("LOADING SUBMISSION")
df_submission = load_data(Util.RANDOM_SUBMISSION)
print(df_submission.head())
print(df_submission.describe())

print("LOADING PRODUCT")
df_product = load_data(Util.PRODUCT_CATEGORY)
print(df_product.head())
print(df_product.describe())

LOADING TRAIN
                                                 sid  target
0  U6clt0UYaQB7vJQFmSWYymsAfwmT9SMhrm2oXQ8TC5M8mf...   False
1  0qRbLkxeOjeEo6CtxtB6VI8FNPt4Vl8niySzZLqSWiQOka...   False
2  cnCRGomfPqEWuhMZkA0RQfvTQiwVoyHXUqvqnPCutVouFO...   False
3  zBwrofN0r2ps9u/UCUS134SiZIqB+UgIEr0MZGHzksqR4f...   False
4  Kbr60r9eaX/ENOJ81R1YBxfwrEohoxyQI9Ma0fODsS+/XN...   False
                                                      sid  target
count                                              133123  133123
unique                                             133123       2
top     GWG6o8O6UCgYTvrqQvk3BlGC4x2srxWzzOl6psQfOo8dVk...   False
freq                                                    1  120643
LOADING TRAIN
                                                 sid      type query  \
0  xvmQh3WmJGKaplwGgHf4o1MNKg2/6IpkbKNh4nnwZibi3f...  CAROUSEL   NaN
1  xvmQh3WmJGKaplwGgHf4o1MNKg2/6IpkbKNh4nnwZibi3f...  CAROUSEL   NaN
2  xvmQh3WmJGKaplwGgHf4o1MNKg2/6IpkbKNh4nnwZibi3f...  CAROUSEL   NaN
3  xvmQh3WmJGKaplwGgHf4o1MNKg2/6IpkbKNh4nnwZibi3f...  CAROUSEL   NaN
4  KeKjpi6re4QRYxl76E8sLPJHxRCeapb4sb69s5hmPCV+Jn...        PA   NaN

   nb_query_terms  rcount  pn facets products dproducts    rh  \
0             NaN     NaN NaN    NaN      NaN       NaN  1094
1             NaN     NaN NaN    NaN      NaN       NaN  1094
2             NaN     NaN NaN    NaN      NaN       NaN  1094
3             NaN     NaN NaN    NaN      NaN       NaN  1094
4             NaN     NaN NaN    NaN      NaN       NaN   875

        ...         ocarproducts oquery orcount ofacets opn odproducts  \
0       ...                  NaN    NaN     NaN     NaN NaN        NaN
1       ...                  NaN    NaN     NaN     NaN NaN        NaN
2       ...                  NaN    NaN     NaN     NaN NaN        NaN
3       ...                  NaN    NaN     NaN     NaN NaN        NaN
4       ...                  NaN    NaN     NaN     NaN NaN        NaN

   oproducts                    siteid                   duration  \
0        NaN  cF8tnO1rK7fIBxVIs+AW4w==  0 days 00:00:00.000000000
1        NaN  cF8tnO1rK7fIBxVIs+AW4w==  0 days 00:00:11.179637600
2        NaN  cF8tnO1rK7fIBxVIs+AW4w==  0 days 00:00:13.132755800
3        NaN  cF8tnO1rK7fIBxVIs+AW4w==  0 days 00:02:17.397333300
4        NaN  cF8tnO1rK7fIBxVIs+AW4w==  0 days 00:00:00.000000000

   type_simplified
0         CAROUSEL
1         CAROUSEL
2         CAROUSEL
3         CAROUSEL
4               PA

[5 rows x 31 columns]
       nb_query_terms        rcount            pn            rh            rw  \
count   536243.000000  7.548730e+05  7.548730e+05  1.355095e+06  1.355095e+06
mean         2.870475  1.521509e+04  1.912932e+02  7.861577e+02  1.460208e+03
std          1.468141  1.436858e+05  1.643768e+05  1.931430e+02  3.471656e+02
min          1.000000  0.000000e+00  0.000000e+00 -4.240000e+02  0.000000e+00
25%          2.000000  2.300000e+01  1.000000e+00  6.620000e+02  1.280000e+03
50%          3.000000  9.600000e+01  1.000000e+00  7.630000e+02  1.366000e+03
75%          4.000000  1.036000e+03  2.000000e+00  9.190000e+02  1.635000e+03
max         28.000000  1.697152e+07  1.428162e+08  1.994100e+04  6.472000e+03

           quantity             ff       orcount            opn
count  46531.000000  264553.000000  1.615450e+05  161545.000000
mean       1.074853       0.050538  1.708555e+04       1.504324
std        0.732475       0.219053  1.216165e+05       1.746304
min        0.000000       0.000000  1.000000e+00       1.000000
25%        1.000000       0.000000  5.100000e+01       1.000000
50%        1.000000       0.000000  2.510000e+02       1.000000
75%        1.000000       0.000000  1.616000e+03       1.000000
max       60.000000       1.000000  8.306567e+06      20.000000
LOADING TEST
                                                 sid          type query  \
0  0lxzryU3/8rBidnQL1B0oQ0oKuu61M4rURSwnv91/ewptW...     SHOW_CASE   NaN
1  0lxzryU3/8rBidnQL1B0oQ0oKuu61M4rURSwnv91/ewptW...     SHOW_CASE   NaN
2  0lxzryU3/8rBidnQL1B0oQ0oKuu61M4rURSwnv91/ewptW...  LIST_PRODUCT   NaN
3  0lxzryU3/8rBidnQL1B0oQ0oKuu61M4rURSwnv91/ewptW...  LIST_PRODUCT   NaN
4  0lxzryU3/8rBidnQL1B0oQ0oKuu61M4rURSwnv91/ewptW...  LIST_PRODUCT   NaN

   nb_query_terms  rcount   pn                           facets  \
0             NaN     NaN  NaN                              NaN
1             NaN     NaN  NaN                              NaN
2             NaN    23.0  1.0                              NaN
3             NaN    23.0  1.0  {'3de8TRVa4DTjYY66/op7KQ==': 1}
4             NaN    23.0  1.0  {'3de8TRVa4DTjYY66/op7KQ==': 1}

                                            products dproducts   rh  \
0                                                NaN       NaN  794
1                                                NaN       NaN  794
2  [{'sku': '55aD5VhEZVhjCQ5riEbFIQ==', 'offerid'...       NaN  794
3  [{'sku': '/8nNQaab1vKS9l+4ur7ZMw==', 'offerid'...       NaN  794
4  [{'sku': 'PhmCS/gi0hz6zN40ul647+p6NPTGBfCKCRdX...       NaN  794

        ...         ocarproducts oquery orcount ofacets opn odproducts  \
0       ...                  NaN    NaN     NaN     NaN NaN        NaN
1       ...                  NaN    NaN     NaN     NaN NaN        NaN
2       ...                  NaN    NaN     NaN     NaN NaN        NaN
3       ...                  NaN    NaN     NaN     NaN NaN        NaN
4       ...                  NaN    NaN     NaN     NaN NaN        NaN

   oproducts                    siteid                   duration  \
0        NaN  cF8tnO1rK7fIBxVIs+AW4w==  0 days 00:00:00.000000000
1        NaN  cF8tnO1rK7fIBxVIs+AW4w==  0 days 00:00:08.792333100
2        NaN  cF8tnO1rK7fIBxVIs+AW4w==  0 days 00:00:52.214568900
3        NaN  cF8tnO1rK7fIBxVIs+AW4w==  0 days 00:01:02.244364600
4        NaN  cF8tnO1rK7fIBxVIs+AW4w==  0 days 00:01:14.927493300

   type_simplified
0        SHOW_CASE
1        SHOW_CASE
2     LIST_PRODUCT
3     LIST_PRODUCT
4     LIST_PRODUCT

[5 rows x 31 columns]
       nb_query_terms        rcount             pn             rh  \
count   364154.000000  5.098090e+05  509809.000000  908233.000000
mean         2.848624  1.510559e+04       2.039044     784.111028
std          1.481154  1.360238e+05       6.952718     190.820153
min          1.000000  0.000000e+00       0.000000       0.000000
25%          2.000000  2.300000e+01       1.000000     662.000000
50%          3.000000  9.700000e+01       1.000000     766.000000
75%          4.000000  1.031000e+03       2.000000     919.000000
max         28.000000  1.326773e+07     500.000000   21250.000000

                  rw      quantity             ff       orcount            opn
count  908233.000000  31175.000000  176535.000000  1.091990e+05  109199.000000
mean     1460.266323      1.081540       0.053581  1.665659e+04       1.528988
std       333.837913      0.718799       0.225190  1.222315e+05       1.805893
min         0.000000      0.000000       0.000000  1.000000e+00       1.000000
25%      1280.000000      1.000000       0.000000  5.200000e+01       1.000000
50%      1366.000000      1.000000       0.000000  2.520000e+02       1.000000
75%      1654.000000      1.000000       0.000000  1.632000e+03       1.000000
max      7680.000000     12.000000       1.000000  6.315537e+06      20.000000
LOADING SUBMISSION
                                                 sid    target
0  EhjG5b8h+RHDgxkQpkMc9sECXbdnA3JOPS07CRYvWmwYSJ...  0.548814
1  34lu87wJJunsPz2c0SxM/aLQ9x+2dlj5W96R95DIG9yRRe...  0.715189
2  xkSYpSt3qRk8X6Ev1W8d72Vj6oyXbI8DKjkCqHmvcaI36F...  0.602763
3  Tu9ylHPEk5Lw5K/8TpuJOEdJv3ZUzJu0zz2sfBrJDQpmyg...  0.544883
4  s6gbPkykrrtcYDB/OidLEdkEsk/bsWIejziprzhq2wJBij...  0.423655
             target
count  88750.000000
mean       0.498929
std        0.289102
min        0.000003
25%        0.247402
50%        0.498752
75%        0.749438
max        0.999978
LOADING PRODUCT
                 product_id  category_product_id_level1  \
0  i1t4Uq+NqhB0O4d2J/jzCA==                     1387712
1  a0OxyFVArDl0UzhpmP1L5w==                          13
2  mQ+KVVCUfLKmb2Rlo/FT3A==                          22
3  KVg9N8j/cuLPkvIcSzYemw==                           5
4  N9mErkxf69NX7uuqysEWGA==                     2626413

   category_product_id_level2  category_product_id_level3
0                     1388277                     1394791
1                          87                        6352
2                         527                        5945
3                          11                          40
4                     2626979                     2633494

       category_product_id_level1  category_product_id_level2  \
count                1.063592e+07                1.063592e+07
mean                 1.224580e+06                1.224957e+06
std                  1.633108e+06                1.633250e+06
min                  0.000000e+00                0.000000e+00
25%                  2.100000e+01                2.280000e+02
50%                  4.400000e+01                5.210000e+02
75%                  2.444824e+06                2.445390e+06
max                  5.103804e+06                5.104370e+06

       category_product_id_level3
count                1.063592e+07
mean                 1.229423e+06
std                  1.634789e+06
min                  0.000000e+00
25%                  2.780000e+03
50%                  6.314000e+03
75%                  2.451908e+06
max                  5.110887e+06

In [17]:
df_test.columns

Index(['sid', 'type', 'query', 'nb_query_terms', 'rcount', 'pn', 'facets',
       'products', 'dproducts', 'rh', 'rw', 'device', 'idcar', 'carproducts',
       'sku', 'offerid', 'quantity', 'stype', 'sname', 'ff', 'oidcar',
       'ocarproducts', 'oquery', 'orcount', 'ofacets', 'opn', 'odproducts',
       'oproducts', 'siteid', 'duration', 'type_simplified'],
      dtype='object')

In [18]:
df_train_tracking.nunique()

sid                 133123
type                    21
query               106519
nb_query_terms          26
rcount               41731
pn                     301
facets                7071
products            458231
dproducts           373642
rh                    1427
rw                    1960
device                   3
idcar                  501
carproducts         280133
sku                 114560
offerid             105334
quantity                16
stype                    2
sname                 7662
ff                       2
oidcar                 177
ocarproducts         46620
oquery               52184
orcount              16507
ofacets               1803
opn                     20
odproducts           98369
oproducts            98816
siteid                   3
duration           1212136
type_simplified          8
dtype: int64

In [19]:
df_test.nunique()

sid                 88750
type                   21
query               77977
nb_query_terms         27
rcount              31524
pn                    256
facets               5352
products           310803
dproducts          255058
rh                   1330
rw                   1785
device                  3
idcar                 434
carproducts        188681
sku                 83124
offerid             74572
quantity               12
stype                   2
sname                7014
ff                      2
oidcar                149
ocarproducts        30679
oquery              37203
orcount             12526
ofacets              1340
opn                    20
odproducts          66594
oproducts           66833
siteid                  3
duration           814285
type_simplified         8
dtype: int64

In [20]:
# JOIN THE DFS
train_df = df_train.merge(df_train_tracking, on="sid")
print(train_df.head())
print(train_df.describe())

                                                 sid  target        type  \
0  U6clt0UYaQB7vJQFmSWYymsAfwmT9SMhrm2oXQ8TC5M8mf...   False      SEARCH
1  U6clt0UYaQB7vJQFmSWYymsAfwmT9SMhrm2oXQ8TC5M8mf...   False      SEARCH
2  U6clt0UYaQB7vJQFmSWYymsAfwmT9SMhrm2oXQ8TC5M8mf...   False  PRODUCT_LR
3  U6clt0UYaQB7vJQFmSWYymsAfwmT9SMhrm2oXQ8TC5M8mf...   False    CAROUSEL
4  0qRbLkxeOjeEo6CtxtB6VI8FNPt4Vl8niySzZLqSWiQOka...   False      SEARCH

                                          query  nb_query_terms  rcount   pn  \
0  nE169UhXCwKYxHSKViFVwSu++Z3aziJylWAZs55TeKQ=             3.0    40.0  1.0
1  Xv9B2cxX088Pt0cSPl435/4Tr0Sz02rJSw4gxGdLM7Q=             3.0    34.0  1.0
2  Xv9B2cxX088Pt0cSPl435/4Tr0Sz02rJSw4gxGdLM7Q=             3.0    34.0  1.0
3                                           NaN             NaN     NaN  NaN
4                      vhAdXVnzgxmmyFCbNWOgcA==             1.0    61.0  1.0

  facets                                           products  \
0    NaN  [{'sku': 'lx1b/sK0/v/q1RaHvMOlLg==', 'offerid'...
1    NaN  [{'sku': 'x/6b/+ITSebi4vvbimabNup6NPTGBfCKCRdX...
2    NaN                                                NaN
3    NaN                                                NaN
4    NaN  [{'sku': 'B+kcWfRkL3SmM3kbde3n2w==', 'offerid'...

                                           dproducts       ...        \
0  ['lx1b/sK0/v/q1RaHvMOlLg==', '2yXxpsOwZafdiLXo...       ...
1  ['x/6b/+ITSebi4vvbimabNup6NPTGBfCKCRdXNRSP70U=...       ...
2                                                NaN       ...
3                                                NaN       ...
4  ['B+kcWfRkL3SmM3kbde3n2w==', 'XhcxpGnu8ld8d51I...       ...

   ocarproducts                                        oquery orcount ofacets  \
0           NaN                                           NaN     NaN     NaN
1           NaN                                           NaN     NaN     NaN
2           NaN  Xv9B2cxX088Pt0cSPl435/4Tr0Sz02rJSw4gxGdLM7Q=    34.0     NaN
3           NaN                                           NaN     NaN     NaN
4           NaN                                           NaN     NaN     NaN

   opn                                         odproducts  \
0  NaN                                                NaN
1  NaN                                                NaN
2  1.0  ['x/6b/+ITSebi4vvbimabNup6NPTGBfCKCRdXNRSP70U=...
3  NaN                                                NaN
4  NaN                                                NaN

                                           oproducts  \
0                                                NaN
1                                                NaN
2  [{'sku': 'x/6b/+ITSebi4vvbimabNup6NPTGBfCKCRdX...
3                                                NaN
4                                                NaN

                     siteid                   duration type_simplified
0  cF8tnO1rK7fIBxVIs+AW4w==  0 days 00:00:00.000000000          SEARCH
1  cF8tnO1rK7fIBxVIs+AW4w==  0 days 01:08:56.424674700          SEARCH
2  cF8tnO1rK7fIBxVIs+AW4w==  0 days 01:09:13.369848000         PRODUCT
3  cF8tnO1rK7fIBxVIs+AW4w==  0 days 01:09:19.908523600        CAROUSEL
4  cF8tnO1rK7fIBxVIs+AW4w==  0 days 00:00:00.000000000          SEARCH

[5 rows x 32 columns]
       nb_query_terms        rcount            pn            rh            rw  \
count   536243.000000  7.548730e+05  7.548730e+05  1.355095e+06  1.355095e+06
mean         2.870475  1.521509e+04  1.912932e+02  7.861577e+02  1.460208e+03
std          1.468141  1.436858e+05  1.643768e+05  1.931430e+02  3.471656e+02
min          1.000000  0.000000e+00  0.000000e+00 -4.240000e+02  0.000000e+00
25%          2.000000  2.300000e+01  1.000000e+00  6.620000e+02  1.280000e+03
50%          3.000000  9.600000e+01  1.000000e+00  7.630000e+02  1.366000e+03
75%          4.000000  1.036000e+03  2.000000e+00  9.190000e+02  1.635000e+03
max         28.000000  1.697152e+07  1.428162e+08  1.994100e+04  6.472000e+03

           quantity             ff       orcount            opn
count  46531.000000  264553.000000  1.615450e+05  161545.000000
mean       1.074853       0.050538  1.708555e+04       1.504324
std        0.732475       0.219053  1.216165e+05       1.746304
min        0.000000       0.000000  1.000000e+00       1.000000
25%        1.000000       0.000000  5.100000e+01       1.000000
50%        1.000000       0.000000  2.510000e+02       1.000000
75%        1.000000       0.000000  1.616000e+03       1.000000
max       60.000000       1.000000  8.306567e+06      20.000000

In [21]:
train_df.nunique()

sid                 133123
target                   2
type                    21
query               106519
nb_query_terms          26
rcount               41731
pn                     301
facets                7071
products            458231
dproducts           373642
rh                    1427
rw                    1960
device                   3
idcar                  501
carproducts         280133
sku                 114560
offerid             105334
quantity                16
stype                    2
sname                 7662
ff                       2
oidcar                 177
ocarproducts         46620
oquery               52184
orcount              16507
ofacets               1803
opn                     20
odproducts           98369
oproducts            98816
siteid                   3
duration           1212136
type_simplified          8
dtype: int64

In [23]:
# ORDER BY DURATION
train_df.sort_values(by=['duration'])
print(train_df.head())

                                                 sid  target        type  \
0  U6clt0UYaQB7vJQFmSWYymsAfwmT9SMhrm2oXQ8TC5M8mf...   False      SEARCH
1  U6clt0UYaQB7vJQFmSWYymsAfwmT9SMhrm2oXQ8TC5M8mf...   False      SEARCH
2  U6clt0UYaQB7vJQFmSWYymsAfwmT9SMhrm2oXQ8TC5M8mf...   False  PRODUCT_LR
3  U6clt0UYaQB7vJQFmSWYymsAfwmT9SMhrm2oXQ8TC5M8mf...   False    CAROUSEL
4  0qRbLkxeOjeEo6CtxtB6VI8FNPt4Vl8niySzZLqSWiQOka...   False      SEARCH

                                          query  nb_query_terms  rcount   pn  \
0  nE169UhXCwKYxHSKViFVwSu++Z3aziJylWAZs55TeKQ=             3.0    40.0  1.0
1  Xv9B2cxX088Pt0cSPl435/4Tr0Sz02rJSw4gxGdLM7Q=             3.0    34.0  1.0
2  Xv9B2cxX088Pt0cSPl435/4Tr0Sz02rJSw4gxGdLM7Q=             3.0    34.0  1.0
3                                           NaN             NaN     NaN  NaN
4                      vhAdXVnzgxmmyFCbNWOgcA==             1.0    61.0  1.0

  facets                                           products  \
0    NaN  [{'sku': 'lx1b/sK0/v/q1RaHvMOlLg==', 'offerid'...
1    NaN  [{'sku': 'x/6b/+ITSebi4vvbimabNup6NPTGBfCKCRdX...
2    NaN                                                NaN
3    NaN                                                NaN
4    NaN  [{'sku': 'B+kcWfRkL3SmM3kbde3n2w==', 'offerid'...

                                           dproducts       ...        \
0  ['lx1b/sK0/v/q1RaHvMOlLg==', '2yXxpsOwZafdiLXo...       ...
1  ['x/6b/+ITSebi4vvbimabNup6NPTGBfCKCRdXNRSP70U=...       ...
2                                                NaN       ...
3                                                NaN       ...
4  ['B+kcWfRkL3SmM3kbde3n2w==', 'XhcxpGnu8ld8d51I...       ...

   ocarproducts                                        oquery orcount ofacets  \
0           NaN                                           NaN     NaN     NaN
1           NaN                                           NaN     NaN     NaN
2           NaN  Xv9B2cxX088Pt0cSPl435/4Tr0Sz02rJSw4gxGdLM7Q=    34.0     NaN
3           NaN                                           NaN     NaN     NaN
4           NaN                                           NaN     NaN     NaN

   opn                                         odproducts  \
0  NaN                                                NaN
1  NaN                                                NaN
2  1.0  ['x/6b/+ITSebi4vvbimabNup6NPTGBfCKCRdXNRSP70U=...
3  NaN                                                NaN
4  NaN                                                NaN

                                           oproducts  \
0                                                NaN
1                                                NaN
2  [{'sku': 'x/6b/+ITSebi4vvbimabNup6NPTGBfCKCRdX...
3                                                NaN
4                                                NaN

                     siteid                   duration type_simplified
0  cF8tnO1rK7fIBxVIs+AW4w==  0 days 00:00:00.000000000          SEARCH
1  cF8tnO1rK7fIBxVIs+AW4w==  0 days 01:08:56.424674700          SEARCH
2  cF8tnO1rK7fIBxVIs+AW4w==  0 days 01:09:13.369848000         PRODUCT
3  cF8tnO1rK7fIBxVIs+AW4w==  0 days 01:09:19.908523600        CAROUSEL
4  cF8tnO1rK7fIBxVIs+AW4w==  0 days 00:00:00.000000000          SEARCH

[5 rows x 32 columns]

In [27]:
# GroupBy SID to see the length
counts = train_df.groupby('sid').count()
counts.describe()

,target,type,query,nb_query_terms,rcount,pn,facets,products,dproducts,rh,...,ocarproducts,oquery,orcount,ofacets,opn,odproducts,oproducts,siteid,duration,type_simplified
count,133123.000000,133123.000000,133123.000000,133123.000000,133123.000000,133123.000000,133123.000000,133123.000000,133123.000000,133123.000000,...,133123.000000,133123.000000,133123.000000,133123.000000,133123.000000,133123.000000,133123.000000,133123.000000,133123.000000,133123.000000
mean,10.179270,10.179270,4.027719,4.028177,5.670493,5.670493,0.837541,4.441855,3.469746,10.179270,...,0.434651,1.213502,1.213502,0.144107,1.213502,1.213502,1.213464,10.179248,10.179270,10.179270
std,14.249718,14.249718,8.315408,8.316106,10.601367,10.601367,3.700277,8.910659,7.413882,14.249718,...,1.449091,2.678116,2.678116,1.011322,2.678116,2.678116,2.678098,14.249719,14.249718,14.249718
min,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000,3.000000
25%,4.000000,4.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,4.000000,4.000000
50%,6.000000,6.000000,2.000000,2.000000,3.000000,3.000000,0.000000,2.000000,2.000000,6.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,6.000000,6.000000
75%,11.000000,11.000000,4.000000,4.000000,6.000000,6.000000,0.000000,5.000000,4.000000,11.000000,...,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,11.000000,11.000000,11.000000
max,951.000000,951.000000,951.000000,951.000000,951.000000,951.000000,256.000000,950.000000,950.000000,951.000000,...,81.000000,217.000000,217.000000,120.000000,217.000000,217.000000,217.000000,951.000000,951.000000,951.000000

In [36]:

train_data = train_df.groupby('sid').apply(lambda x: x.sort_values(["duration"])).set_index('sid').apply(list).values.tolist()
print(len(train_data))
print(train_data[0])

1355095
[False, 'PA', nan, nan, nan, nan, nan, nan, nan, 832, 1600, '9DP4L/tKWLkYUystNndR3g==', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'cF8tnO1rK7fIBxVIs+AW4w==', '0 days 00:00:00.000000000', 'PA']