In [1]:
%matplotlib inline
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
CHALLENGE_DATA = "../data/Challenge_20180423.csv"

In [2]:
df_challenge = pd.read_csv(CHALLENGE_DATA)

In [3]:
print("Overview")
print(df_challenge.head(5))
print(df_challenge.describe())

Overview
  PredictionIdx   DateKey  CustomerIdx  IsinIdx BuySell  CustomerInterest
0    a1e0d80784  20180423         1856    13323     Buy               NaN
1    c2cc6cc2a8  20180423         1856     9230     Buy               NaN
2    a8e94f6344  20180423         1780     9157     Buy               NaN
3    758bae1e35  20180423         2129     9131     Buy               NaN
4    02ab378ee8  20180423         1758     7151     Buy               NaN
          DateKey    CustomerIdx        IsinIdx  CustomerInterest
count    484758.0  484758.000000  484758.000000               0.0
mean   20180423.0    1936.835749   15572.977102               NaN
std           0.0     869.365212    8381.691252               NaN
min    20180423.0       0.000000       1.000000               NaN
25%    20180423.0    1288.000000    7950.000000               NaN
50%    20180423.0    2106.000000   15592.000000               NaN
75%    20180423.0    2574.000000   23841.000000               NaN
max    20180423.0    3470.000000   27344.000000               NaN

In [7]:
df_challenge.groupby(["CustomerIdx", "IsinIdx", "BuySell"]).count().describe()

       PredictionIdx   DateKey  CustomerInterest
count       484758.0  484758.0          484758.0
mean             1.0       1.0               0.0
std              0.0       0.0               0.0
min              1.0       1.0               0.0
25%              1.0       1.0               0.0
50%              1.0       1.0               0.0
75%              1.0       1.0               0.0
max              1.0       1.0               0.0