In [5]:
%matplotlib inline
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
CHALLENGE_DATA = "../data/Challenge_20180423.csv"

In [6]:
df_challenge = pd.read_csv(CHALLENGE_DATA)

In [7]:
print("Overview")
print(df_challenge.head(5))
print(df_challenge.describe())

Overview
  PredictionIdx   DateKey  CustomerIdx  IsinIdx BuySell  CustomerInterest
0    a1e0d80784  20180423         1856    13323     Buy               NaN
1    c2cc6cc2a8  20180423         1856     9230     Buy               NaN
2    a8e94f6344  20180423         1780     9157     Buy               NaN
3    758bae1e35  20180423         2129     9131     Buy               NaN
4    02ab378ee8  20180423         1758     7151     Buy               NaN
          DateKey    CustomerIdx        IsinIdx  CustomerInterest
count    484758.0  484758.000000  484758.000000               0.0
mean   20180423.0    1936.835749   15572.977102               NaN
std           0.0     869.365212    8381.691252               NaN
min    20180423.0       0.000000       1.000000               NaN
25%    20180423.0    1288.000000    7950.000000               NaN
50%    20180423.0    2106.000000   15592.000000               NaN
75%    20180423.0    2574.000000   23841.000000               NaN
max    20180423.0    3470.000000   27344.000000               NaN

In [4]:
print(df_challenge.groupby("CustomerIdx").count())

             PredictionIdx  DateKey  IsinIdx  BuySell  CustomerInterest
CustomerIdx
0                       14       14       14       14                 0
1                        6        6        6        6                 0
2                       18       18       18       18                 0
4                       12       12       12       12                 0
5                       38       38       38       38                 0
6                       20       20       20       20                 0
7                        2        2        2        2                 0
8                       22       22       22       22                 0
9                       26       26       26       26                 0
11                      14       14       14       14                 0
14                     236      236      236      236                 0
16                      18       18       18       18                 0
18                       8        8        8        8                 0
19                     178      178      178      178                 0
20                      10       10       10       10                 0
21                      32       32       32       32                 0
22                      40       40       40       40                 0
26                       2        2        2        2                 0
27                       2        2        2        2                 0
28                       4        4        4        4                 0
30                       2        2        2        2                 0
31                     192      192      192      192                 0
32                     158      158      158      158                 0
34                      70       70       70       70                 0
35                      44       44       44       44                 0
37                     118      118      118      118                 0
40                       2        2        2        2                 0
41                       2        2        2        2                 0
42                      10       10       10       10                 0
43                     200      200      200      200                 0
...                    ...      ...      ...      ...               ...
3432                     4        4        4        4                 0
3433                     2        2        2        2                 0
3434                     4        4        4        4                 0
3435                    12       12       12       12                 0
3437                    38       38       38       38                 0
3438                    60       60       60       60                 0
3441                     2        2        2        2                 0
3442                   170      170      170      170                 0
3443                     2        2        2        2                 0
3444                     6        6        6        6                 0
3445                   194      194      194      194                 0
3446                     2        2        2        2                 0
3447                     2        2        2        2                 0
3450                    48       48       48       48                 0
3451                    58       58       58       58                 0
3452                     2        2        2        2                 0
3453                    16       16       16       16                 0
3455                    32       32       32       32                 0
3456                     2        2        2        2                 0
3457                    18       18       18       18                 0
3458                     2        2        2        2                 0
3460                    24       24       24       24                 0
3461                     4        4        4        4                 0
3463                    28       28       28       28                 0
3464                    26       26       26       26                 0
3465                   154      154      154      154                 0
3466                     4        4        4        4                 0
3468                    12       12       12       12                 0
3469                     2        2        2        2                 0
3470                    60       60       60       60                 0

[2495 rows x 5 columns]