In [5]:
%matplotlib inline
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
CHALLENGE_DATA = "../data/Challenge_20180423.csv"
TRADE_DATA = "../data/Trade.csv"

In [6]:
df_challenge = pd.read_csv(CHALLENGE_DATA)
df_trade = pd.read_csv(TRADE_DATA)

In [8]:
print("Overview")
print(df_challenge.head(5))
print(df_challenge.describe())

print("Overview")
print(df_trade.head(5))
print(df_trade.describe())

Overview
  PredictionIdx   DateKey  CustomerIdx  IsinIdx BuySell  CustomerInterest
0    a1e0d80784  20180423         1856    13323     Buy               NaN
1    c2cc6cc2a8  20180423         1856     9230     Buy               NaN
2    a8e94f6344  20180423         1780     9157     Buy               NaN
3    758bae1e35  20180423         2129     9131     Buy               NaN
4    02ab378ee8  20180423         1758     7151     Buy               NaN
          DateKey    CustomerIdx        IsinIdx  CustomerInterest
count    484758.0  484758.000000  484758.000000               0.0
mean   20180423.0    1936.835749   15572.977102               NaN
std           0.0     869.365212    8381.691252               NaN
min    20180423.0       0.000000       1.000000               NaN
25%    20180423.0    1288.000000    7950.000000               NaN
50%    20180423.0    2106.000000   15592.000000               NaN
75%    20180423.0    2574.000000   23841.000000               NaN
max    20180423.0    3470.000000   27344.000000               NaN
Overview
   TradeDateKey  CustomerIdx  IsinIdx BuySell  NotionalEUR  Price TradeStatus  \
0      20161207         2789     8478    Sell     653168.0    0.0     Unknown
1      20170329         2574    14562     Buy    1656487.0    0.0     Unknown
2      20170418         2574     4747     Buy     939673.0    0.0     Unknown
3      20170310         2574     9885    Sell     708082.0    0.0     Unknown
4      20161116         2574     8885     Buy    1147709.0    0.0     Unknown

   CustomerInterest
0               1.0
1               1.0
2               1.0
3               1.0
4               1.0
       TradeDateKey   CustomerIdx       IsinIdx   NotionalEUR         Price  \
count  6.762021e+06  6.762021e+06  6.762021e+06  6.762021e+06  2.144088e+06
mean   2.016750e+07  1.922354e+03  1.460369e+04  6.313228e+06  1.779008e+05
std    6.768082e+03  8.579293e+02  7.963809e+03  2.712408e+08  1.318503e+06
min    2.016010e+07  0.000000e+00  0.000000e+00 -1.485547e+08 -9.999990e+05
25%    2.016063e+07  1.288000e+03  7.392000e+03  3.410980e+05  9.313780e+01
50%    2.017023e+07  2.090000e+03  1.522900e+04  8.812120e+05  1.010000e+02
75%    2.017093e+07  2.574000e+03  2.211900e+04  2.136842e+06  1.075000e+02
max    2.018042e+07  3.470000e+03  2.739400e+04  2.000000e+11  9.999999e+06

       CustomerInterest
count      6.762021e+06
mean       3.271106e-01
std        4.691581e-01
min        0.000000e+00
25%        0.000000e+00
50%        0.000000e+00
75%        1.000000e+00
max        1.000000e+00

In [11]:
df = pd.merge(df_trade, df_challenge, on=["CustomerIdx", "IsinIdx"], how='left')
df.describe()
df.groupby(["CustomerIdx", "IsinIdx"]).count

,TradeDateKey,CustomerIdx,IsinIdx,NotionalEUR,Price,CustomerInterest_x,DateKey,CustomerInterest_y
count,8.358840e+06,8.358840e+06,8.358840e+06,8.358840e+06,3.161056e+06,8.358840e+06,3193638.0,0.0
mean,2.016807e+07,1.941861e+03,1.466776e+04,7.735363e+06,1.593581e+05,3.886082e-01,20180423.0,NaN
std,6.945386e+03,8.582572e+02,7.967380e+03,2.954047e+08,1.248644e+06,4.874340e-01,0.0,NaN
min,2.016010e+07,0.000000e+00,0.000000e+00,-1.485547e+08,-9.999990e+05,0.000000e+00,20180423.0,NaN
25%,2.016071e+07,1.314000e+03,7.462000e+03,4.219110e+05,9.498800e+01,0.000000e+00,20180423.0,NaN
50%,2.017033e+07,2.106000e+03,1.517100e+04,8.946940e+05,1.010740e+02,0.000000e+00,20180423.0,NaN
75%,2.017103e+07,2.574000e+03,2.222800e+04,2.106769e+06,1.076250e+02,1.000000e+00,20180423.0,NaN
max,2.018042e+07,3.470000e+03,2.739400e+04,2.000000e+11,9.999999e+06,1.000000e+00,20180423.0,NaN