In [2]:
%matplotlib inline
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
CHALLENGE_DATA = "../data/Challenge_20180423.csv"

In [3]:
df_challenge = pd.read_csv(CHALLENGE_DATA)

In [4]:
print("Overview")
print(df_challenge.head(5))
print(df_challenge.describe())

Overview
  PredictionIdx   DateKey  CustomerIdx  IsinIdx BuySell  CustomerInterest
0    a1e0d80784  20180423         1856    13323     Buy               NaN
1    c2cc6cc2a8  20180423         1856     9230     Buy               NaN
2    a8e94f6344  20180423         1780     9157     Buy               NaN
3    758bae1e35  20180423         2129     9131     Buy               NaN
4    02ab378ee8  20180423         1758     7151     Buy               NaN
          DateKey    CustomerIdx        IsinIdx  CustomerInterest
count    484758.0  484758.000000  484758.000000               0.0
mean   20180423.0    1936.835749   15572.977102               NaN
std           0.0     869.365212    8381.691252               NaN
min    20180423.0       0.000000       1.000000               NaN
25%    20180423.0    1288.000000    7950.000000               NaN
50%    20180423.0    2106.000000   15592.000000               NaN
75%    20180423.0    2574.000000   23841.000000               NaN
max    20180423.0    3470.000000   27344.000000               NaN

In [7]:
print(df_challenge.groupby("IsinIdx").count())

         PredictionIdx  DateKey  CustomerIdx  BuySell  CustomerInterest
IsinIdx
1                   20       20           20       20                 0
7                   68       68           68       68                 0
15                  14       14           14       14                 0
19                   2        2            2        2                 0
21                  42       42           42       42                 0
23                  10       10           10       10                 0
24                  34       34           34       34                 0
29                  36       36           36       36                 0
30                  24       24           24       24                 0
31                  28       28           28       28                 0
32                   2        2            2        2                 0
41                   8        8            8        8                 0
67                   2        2            2        2                 0
69                  12       12           12       12                 0
70                   2        2            2        2                 0
71                  24       24           24       24                 0
73                  12       12           12       12                 0
75                  10       10           10       10                 0
76                  52       52           52       52                 0
77                  76       76           76       76                 0
79                  14       14           14       14                 0
81                  20       20           20       20                 0
82                  26       26           26       26                 0
83                   8        8            8        8                 0
85                  30       30           30       30                 0
86                  18       18           18       18                 0
87                  14       14           14       14                 0
88                   2        2            2        2                 0
89                   4        4            4        4                 0
91                   2        2            2        2                 0
...                ...      ...          ...      ...               ...
27285               44       44           44       44                 0
27286                2        2            2        2                 0
27287               46       46           46       46                 0
27289                4        4            4        4                 0
27290                4        4            4        4                 0
27291               12       12           12       12                 0
27292               14       14           14       14                 0
27293                6        6            6        6                 0
27294               80       80           80       80                 0
27295               12       12           12       12                 0
27296                2        2            2        2                 0
27300               34       34           34       34                 0
27301               60       60           60       60                 0
27302               20       20           20       20                 0
27303               10       10           10       10                 0
27304                8        8            8        8                 0
27305                4        4            4        4                 0
27306                6        6            6        6                 0
27307                4        4            4        4                 0
27310               16       16           16       16                 0
27311               36       36           36       36                 0
27312               46       46           46       46                 0
27314               16       16           16       16                 0
27315                8        8            8        8                 0
27316               22       22           22       22                 0
27321                4        4            4        4                 0
27341                6        6            6        6                 0
27342               10       10           10       10                 0
27343               40       40           40       40                 0
27344               26       26           26       26                 0

[18265 rows x 5 columns]