In [1]:
%matplotlib inline
import pandas as pd
import matplotlib
import time
import numpy as np
import matplotlib.pyplot as plt
TRADE_DATA = "../data/Trade.csv"

In [2]:
df_trade = pd.read_csv(TRADE_DATA)
df_trade.columns

Index(['TradeDateKey', 'CustomerIdx', 'IsinIdx', 'BuySell', 'NotionalEUR',
       'Price', 'TradeStatus', 'CustomerInterest'],
      dtype='object')

In [3]:
df_trade = df_trade[df_trade["TradeDateKey"] >= 20180101]

In [4]:
print("Overview")
print(df_trade.head(5))
print(df_trade.describe())
df_trade.sort_values("TradeDateKey", ascending=True).tail(10)

Overview
      TradeDateKey  CustomerIdx  IsinIdx BuySell  NotionalEUR    Price  \
1527      20180201         2447    19665    Sell     748160.0  102.650
1528      20180220         2447    18972    Sell    2959167.0  102.093
1529      20180108         2554    24873     Buy    2815003.0  103.877
1530      20180108         2554    19072    Sell    2815003.0  121.963
1538      20180116         1922    25986     Buy     601586.0   97.984

     TradeStatus  CustomerInterest
1527        Done               1.0
1528   NotTraded               1.0
1529        Done               1.0
1530        Done               1.0
1538        Done               1.0
       TradeDateKey    CustomerIdx        IsinIdx   NotionalEUR  \
count  8.491100e+05  849110.000000  849110.000000  8.491100e+05
mean   2.018023e+07    1876.417462   15525.267759  1.776484e+07
std    9.749854e+01     879.603357    8524.637034  4.607034e+08
min    2.018010e+07       0.000000       1.000000 -1.180224e+08
25%    2.018013e+07    1145.000000    7505.000000  2.357560e+05
50%    2.018023e+07    2069.000000   15879.000000  7.685435e+05
75%    2.018033e+07    2574.000000   23661.000000  1.660910e+06
max    2.018042e+07    3470.000000   27357.000000  9.300000e+10

               Price  CustomerInterest
count  346124.000000     849110.000000
mean     1336.363132          0.412339
std     66325.036619          0.492256
min   -999999.000000          0.000000
25%        98.453000          0.000000
50%       100.550000          0.000000
75%       104.985000          1.000000
max    999999.000000          1.000000

,TradeDateKey,CustomerIdx,IsinIdx,BuySell,NotionalEUR,Price,TradeStatus,CustomerInterest
5191710,20180420,2655,13287,Buy,491764.0,NaN,Holding,0.0
973022,20180420,1984,23034,Buy,1000000.0,105.4260,Done,1.0
608163,20180420,2170,26577,Sell,600000.0,96.5870,Done,1.0
732287,20180420,2043,7915,Buy,2431709.0,99.8373,Unknown,1.0
1316753,20180420,1984,24871,Buy,1000000.0,100.3280,Unknown,1.0
1111767,20180420,183,15891,Buy,567399.0,98.6625,Unknown,1.0
825225,20180420,176,26538,Sell,543082.0,92.7500,Unknown,1.0
5678094,20180422,3032,15308,Buy,2658687.0,NaN,Holding,0.0
5678090,20180422,3032,15303,Buy,1615037.0,NaN,Holding,0.0
5675819,20180422,3032,6499,Buy,817906.0,NaN,Holding,0.0

In [5]:
df_trade.groupby(["CustomerIdx", "IsinIdx"]).count().describe()

,TradeDateKey,BuySell,NotionalEUR,Price,TradeStatus,CustomerInterest
count,436593.000000,436593.000000,436593.000000,436593.000000,436593.000000,436593.000000
mean,1.944855,1.944855,1.944855,0.792784,1.944855,1.944855
std,2.315870,2.315870,2.315870,2.183767,2.315870,2.315870
min,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000
25%,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000
50%,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000
75%,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000
max,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000

In [8]:
df_trade['freq'] = df_trade.groupby('CustomerIdx')['CustomerIdx'].transform('count')
df_trade.head(5)

,TradeDateKey,CustomerIdx,IsinIdx,BuySell,NotionalEUR,Price,TradeStatus,CustomerInterest,freq
1527,20180201,2447,19665,Sell,748160.0,102.650,Done,1.0,1806
1528,20180220,2447,18972,Sell,2959167.0,102.093,NotTraded,1.0,1806
1529,20180108,2554,24873,Buy,2815003.0,103.877,Done,1.0,3121
1530,20180108,2554,19072,Sell,2815003.0,121.963,Done,1.0,3121
1538,20180116,1922,25986,Buy,601586.0,97.984,Done,1.0,1715

In [21]:
X = df_trade.values[0:500]
print(X[0:10])
# Group BY
customers_ids = np.unique(X[:,1])
print(customers_ids)

[[20180201 2447 19665 'Sell' 748160.0 102.65 'Done' 1.0 1806]
 [20180220 2447 18972 'Sell' 2959167.0 102.09299999999999 'NotTraded' 1.0
  1806]
 [20180108 2554 24873 'Buy' 2815003.0 103.87700000000001 'Done' 1.0 3121]
 [20180108 2554 19072 'Sell' 2815003.0 121.963 'Done' 1.0 3121]
 [20180116 1922 25986 'Buy' 601586.0 97.984 'Done' 1.0 1715]
 [20180418 3122 19044 'Buy' 866504.0 126.329 'NotTraded' 1.0 14468]
 [20180322 1963 2614 'Sell' 917002.0 132.485 'NotTraded' 1.0 171]
 [20180108 1879 19737 'Buy' 1069701.0 160.42 'Done' 1.0 2497]
 [20180403 2505 23240 'Buy' 500000.0 103.625 'NotTraded' 1.0 8127]
 [20180409 2638 23240 'Buy' 500000.0 104.25 'Unknown' 1.0 582]]
[82 152 176 185 215 221 297 325 362 416 440 484 494 495 520 526 550 563 567
 573 586 596 608 705 726 753 757 758 768 775 807 809 912 942 1051 1057 1093
 1126 1137 1149 1155 1320 1388 1413 1439 1440 1482 1509 1514 1536 1537 1588
 1607 1622 1624 1648 1707 1754 1758 1775 1780 1787 1812 1836 1860 1875 1879
 1881 1884 1890 1896 1916 1922 1929 1963 1986 2031 2036 2037 2043 2050 2058
 2073 2083 2087 2092 2129 2172 2195 2223 2246 2247 2265 2269 2280 2301 2312
 2327 2357 2402 2412 2418 2419 2447 2482 2496 2505 2540 2549 2554 2569 2585
 2617 2629 2638 2639 2647 2650 2655 2658 2699 2736 2737 2752 2789 2827 2848
 2854 2871 2939 2940 2987 3003 3005 3041 3096 3122 3210 3219 3237 3247 3249
 3254 3283 3298 3301]

In [22]:
cidx_freq = {}
for c in customers_ids:
    i = 0
    for sample in X:
        if sample[1] == c:
            i=i+1
    cidx_freq[c] = i

for key, val in cidx_freq.items():
    print(key, val)

82 5
152 1
176 69
185 2
215 5
221 1
297 11
325 1
362 1
416 3
440 4
484 2
494 7
495 1
520 3
526 1
550 2
563 2
567 1
573 1
586 26
596 1
608 2
705 3
726 1
753 1
757 1
758 1
768 1
775 3
807 2
809 1
912 1
942 1
1051 5
1057 2
1093 1
1126 2
1137 1
1149 2
1155 1
1320 2
1388 2
1413 1
1439 1
1440 1
1482 1
1509 2
1514 2
1536 8
1537 1
1588 2
1607 1
1622 24
1624 2
1648 1
1707 1
1754 1
1758 1
1775 2
1780 1
1787 2
1812 4
1836 3
1860 1
1875 2
1879 2
1881 1
1884 2
1890 3
1896 1
1916 1
1922 1
1929 7
1963 1
1986 1
2031 1
2036 1
2037 1
2043 2
2050 1
2058 4
2073 3
2083 2
2087 3
2092 22
2129 1
2172 1
2195 1
2223 9
2246 3
2247 4
2265 4
2269 1
2280 1
2301 1
2312 1
2327 1
2357 1
2402 1
2412 7
2418 4
2419 19
2447 2
2482 2
2496 1
2505 3
2540 2
2549 5
2554 4
2569 1
2585 2
2617 2
2629 5
2638 2
2639 2
2647 4
2650 1
2655 3
2658 1
2699 4
2736 6
2737 3
2752 3
2789 2
2827 1
2848 2
2854 1
2871 1
2939 3
2940 1
2987 4
3003 4
3005 1
3041 1
3096 22
3122 2
3210 1
3219 3
3237 1
3247 1
3249 10
3254 1
3283 3
3298 3
3301 3